#app {
  margin: 0;
  padding: 0;
  width: 100vmax;

  font-weight: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body{
  font-family: Tahoma, Verdana, sans-serif;
  height: 100%;
  background-color: lightcyan;
  background-image: url(@/assets/icepattern.png);
}